.match {
  padding: 3px;
  width: 100%;
  margin: auto;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(0.60);

}
.match {
  background: #37003c;
  color: aliceblue;
}
.match:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.match,
.home,
.away,
.vs {
  display: flex;
}

.vs:hover {
  color: red;
}

.team-pl img,
.vs {
  transform: scale(0.86);
}

.team p,
.team-name p,
.vs {
  display: inline;
  vertical-align: middle;
  display: flex;
}

img {
  display: inline;
  vertical-align: middle;
  height: 50px;
}

.team-name {
  width: 70%;
  vertical-align: middle;
  font-family: system-ui;
  font: message-box;
}

.team,
.team-pl {
  width: 30%;
}

.home,
.away {
  width: 40%;
}


.pl {
  text-align: center;
  align-items: center;
  margin: auto;
}

.nav-items{
  list-style: none;
  display: flex;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items > li{
  padding: 10px;
}