/* * {
  box-sizing: border-box;
} */

/* Global Styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar Styles */
.nav {
  height: 70px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px 36px;
  background-color: white;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.App-logo {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px; /* Adjust the margin as needed */
}

.nav h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: cereal;
  color: #eb2323;
}

.static-content {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.content-img {
  max-width: 400px;
  align-self: center;
}
.static-content h1 {
  margin-bottom: 16px;
  /* align-self: center; */
}
/* .info {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
.card img {
  width: 500px;
  border-radius: 5%;
}
.contact {
  justify-content: space-between;
  align-items: center;
}
.contact-list > li {
  padding: 30px;
}
.contact ul {
  display: flex;
  list-style: none;
  align-items: center;
  vertical-align: middle;
}
.gm-button,
.li-button {
  width: 50px;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 0.75rem 2.5rem;
  margin: auto;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.li-button{
  background-color: rgb(8, 105, 233);
  color: white;
}
.card {
  vertical-align: middle;
  width: 500px;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  margin: auto;
  border-radius: 5%;
}
.container{
  padding:  5%;
}
.icon {
  color: rgb(31, 202, 31);
  position: relative; /* Adjust positioning */
/*}*/
/* .footer {  
  box-shadow: 0 1px 8px rgba(228, 230, 233, 0.15); 
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi); 
  padding: 2rem 0;
}  */

/* .footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
} */

/* .footer__icon {
  color: #8e2222;
  margin: 0 var(--mb-2);
} */

/* .footer__social-icon {
  font-size: 200%;
  margin-left: 25px;
  color: white;
}
.footer__social-icon:hover {
  color: rgb(47, 231, 188);
} */
/* .nav-items {
  list-style: none;
  display: flex;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 25, 25);
  color: white;
}
.nav-items > li {
  padding: 10px;
}
.nav h1{
  color: #61DAFB;
}
.content ol{
  list-style:disc;
} */
/*.content{
background-image: url("./logo512.png");
background-size: 40%;
background-repeat: no-repeat;
background-position-x:right ;
background-position-y:bottom ;
} */
.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.product-image {
  max-width: 100%;
  height: 100%;
  margin-bottom: 10px;
  object-fit: cover;

}

.product-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.star-image {
  width: 15px; /* Adjust the width of the star image */
  height: 15px; /* Adjust the height of the star image */
  margin-right: 5px; /* Add margin for spacing */
}

.product-status {
  color: #19df89;
  padding-left: 115px;
  font-weight: bold;
}

.product-name {
  margin: 0;
  color: #333;
}

.product-description {
  color: #555;
}

.product-price {
  color: #e44d26;
  font-weight: bold;
}
